<%- include('partials/header.ejs') %>
<div class="container">
  <h1>Edit Post</h1>
  <form action="/edit/<%= postId %>" method="post">
    <div class="form-group">
      <input type="text" class="form-control" name="postTitle" value="<%= title %>">
    </div>
    <div class="form-group">
      <textarea class="form-control" name="postBody" rows="10"><%= content %></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Update</button>
  </form>
</div>
<%- include('partials/footer.ejs') %>
