<%- include('partials/header.ejs') %>
<div class="container">
  <h1><%= title %></h1>
  <p><%= content %></p>
  <form action="/delete/<%= postId %>" method="post">
    <button type="submit" class="btn btn-danger">Delete</button>
  </form>
  <a href="/posts/edit/<%= postId %>" class="btn btn-warning">Edit</a>
</div>
<%- include('partials/footer.ejs') %>
